{{ 'anvil-hero.css' | asset_url | stylesheet_tag }}

<section class="anvil-section">

<main>

<div class="container">

<h2 class="anvil-title">Anvil</h2>

<div class="grid">

<a class="grid__item">
<img src="https://cdn.sanity.io/images/8yrspuwy/production/84cea93a1f875612a2e2640e6b031d1ec8ed0324-2418x3021.jpg">
</a>

<a class="grid__item">

<img src="https://cdn.sanity.io/images/8yrspuwy/production/413315c187fbfcdc3d3768c6f641e3426e0952ab-2422x3028.jpg">

<div class="grid__item-content">
<p>Object</p>
<h2>Cylinder Back</h2>
</div>

</a>

</div>

<h2 class="anvil-title anvil-title--bottom">Anvil</h2>

</div>

</main>

</section>

{% schema %}
{
"name": "Anvil Hero",
"settings": [],
"presets": [
{
"name": "Anvil Hero"
}
]
}
{% endschema %}